<!doctype html>
<html ng-app="myWaterIntakeApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">

    <title>My Water Intake</title>
    <link rel="icon" sizes="87x87" href="icon.png">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- <script type="text/javascript" src="cordova.js"></script> -->

    <script src="js/angular.min.js"></script>
    <script src="js/angular-contenteditable.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/Chart.min.js"></script>

</head>

<body ng-controller="myWaterIntakeAppController">

    <div id="app-header">
        <img src="assets/glass-icon.png" style="vertical-align:middle" height="50"> My Water Intake
    </div>
    
    <div id="app-body">
        <div id="day-status">
            {{model.currentNumber}}
            <!-- <img src="assets/droplet-icon.png" height="120"> -->
        </div>      
        
        <div id='hero'>
            <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
            <div class='layer-1 layer' data-depth='0.20' data-type='parallax'></div>
            <div class='layer-2 layer' data-depth='0.30' data-type='parallax'></div>
            <div class='layer-3 layer' data-depth='0.7' data-type='parallax'></div>
            <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
            <div class='layer-4 layer' data-depth='1.0' data-type='parallax'></div>
        </div>
        
        <div id="add-button" ng-click="addGlass()">
            <img src="assets/glass-icon.png" style="vertical-align:middle" height="60">
        </div>
        
        <div id="substract-button" ng-show="showSubstract" ng-click="substractGlass()">
            <img src="assets/undo-icon.png" style="vertical-align:middle" height="28">
        </div>

        <div id='content'>
            <div class='dashboard'>
                <canvas height='260' id='canvas' width='1200'></canvas>
            </div>
        </div>
    </div>

    
    <script src="js/app.js"></script>
</body>

</html>